.footer {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
}

.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 8rem;
  gap: 2rem;
  color: white;
}

.f-icons {
  display: flex;
  gap: 2rem;
}

.footer-co {
  font-size: 15px;
  margin-top: -20px;
}

@media screen and (max-width: 480px) {
  .footer {
    position: fixed;
    font-size: 12px;
    z-index: 3;
    bottom: 0;
    height: 10vh;
  }

  .f-content {
    transform: scale(0.5);
    margin-bottom: 6rem;
  }

  .f-icons {
    display: none;
  }
}
